gen/
bin/
/res/raw/ormlite_config.txt
.settings
*-sources.jar
*-sources
*-javadoc.jar
*.log
/local.properties
res/values/com_crashlytics_export_strings.xml
/app/build/
/build/
.gradle/
*.iml
.idea

app/gradle.properties

# mac files
.DS_Store
